*{
    margin: 0;
    padding:0;

}

h1{
    margin-bottom: 20px;
    text-align: center;
    color: darkblue;
}

.container{
    font-family: Arial, Helvetica, sans-serif;
    background-color: cornflowerblue;
    max-width: 300px;
    margin:auto;    
    padding: 30px;
    margin-top: 15px;
    border-radius: 8px;
   
}
input{
    display: flex;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 12px;
}
button{
    padding: 10px;
    border-radius: 3px;
    
}
button:hover{
    background-color: darkblue;
    color:white;

}