*{
    margin: 0;
    padding:0;

}

.container{
    background-color: cornflowerblue;


    max-width: 300px;
    margin:auto;
    
    padding: 30px;
    margin-top: 15px;
   
}
#adultos{
    text-align: center;
    padding: 3px;


}
#criancas{
    

}

#duracao{


}